# Core trading bot and data handling
alpaca-trade-api-python
requests
python-dotenv
pandas

# Machine Learning and model handling
scikit-learn
joblib
matplotlib

# Sentiment and Vision analysis
vaderSentiment
opencv-python
onnxruntime