container_commands:
  01_backup_nginx_config:
    command: "cp -r /etc/nginx/conf.d /etc/nginx/conf.d.backup.$(date +%Y%m%d_%H%M%S) || echo 'backup failed'"
    ignoreErrors: true
  02_ensure_nginx_directories:
    command: "mkdir -p /etc/nginx/conf.d /var/log/nginx"
    ignoreErrors: true
  03_set_nginx_permissions:
    command: "chown -R root:root /etc/nginx/conf.d && chmod -R 644 /etc/nginx/conf.d/*"
    ignoreErrors: true
  04_cleanup_old_configs:
    command: "find /etc/nginx/conf.d -name '*.conf.disabled' -delete"
    ignoreErrors: true

option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static 